<div class="mt-4">
    <h3>Đăng môn học</h3>
    <form method="POST" action="/lists/{{lists._id}}?_method=PUT">
        <div class="form-group">
            <label for="class">Lớp học phần</label>
            <input name="class" type="text" class="form-control" value="{{lists.class}}" id="class" >
        </div>
        <div class="form-group">
            <label for="module">Học phần</label>
            <input name="module" type="text" class="form-control" value="{{lists.module}}" id="module" >
        </div>
        <div class="form-group">
            <label for="start">Thời gian bắt đầu</label>
            <input name="start" type="text" class="form-control" value="{{lists.start}}" id="start" >
        </div>
        <div class="form-group">
            <label for="end">Thời gian kết thúc</label>
            <input name="end" type="text" class="form-control" value="{{lists.end}}" id="end" >
        </div>
        <div class="form-group">
            <label for="day">Thứ và tiết học</label>
            <input name="day" type="text" class="form-control" value="{{lists.day}}" id="day" >
        </div>
        <div class="form-group">
            <label for="location">Địa điểm</label>
            <input name="location" type="text" class="form-control" value="{{lists.location}}" id="location" >
        </div>
        <div class="form-group">
            <label for="lecturer">Giảng viên</label>
            <input name="lecturer" type="text" class="form-control" value="{{lists.lecturer}}" id="lecturer" >
        </div>
        <div class="form-group">
            <label for="membership">Sĩ số</label>
            <input name="membership" type="text" class="form-control" value="{{lists.membership}}" id="membership" >
        </div>
        <div class="form-group">
            <label for="license_number">Số đăng ký</label>
            <input name="license_number" type="text" class="form-control" value="{{lists.license_number}}" id="license_number" >
        </div>
        <div class="form-group">
            <label for="number_of_credit">Số tín chỉ</label>
            <input name="number_of_credit" type="text" class="form-control" value="{{lists.number_of_credit}}" id="number_of_credit" >
        </div>

        <button type="submit" class="btn btn-primary">Sửa môn học</button>
</form>
</div>